@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1>
        Singleton, Scoped, Transient
    </h1>
    <hr />
    <h2>
        Guid Generator Interface
    </h2>
    <hr />
    <p>
        Singleton Yontemi : @ViewBag.Singleton
    </p>
    <p>
        Scoped Yontemi : @ViewBag.Scoped
    </p>
    <p>
        Transient Yontemi : @ViewBag.Transient
    </p>
    <hr />
    <h2>
        Guid Service
    </h2>
    <hr />
    <p>
        Singleton Service : @ViewBag.SingletonService
    </p>
    <p>
        Scoped Service : @ViewBag.ScopedService
    </p>
    <p>
        Transient Service : @ViewBag.TransientService
    </p>
    <hr />

</div>
